.u-section-1 .u-sheet-1 {
  min-height: 621px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 70px 326px 0 0;
}

.u-section-1 .u-list-1 {
  margin: 20px 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-text-2 {
  background-image: none;
  margin: 0 263px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: -97px 309px 0 735px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 33px 919px 0 132px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-1 .u-list-2 {
  margin: 125px 0 60px;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 0px 0px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 126px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-text-2 {
    margin-top: -6px;
    margin-right: 63px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 33px;
    margin-right: 209px;
    margin-left: 635px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -123px;
    margin-right: 819px;
    margin-left: 32px;
  }

  .u-section-1 .u-list-2 {
    margin-top: 157px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 32px;
    margin-right: 99px;
    margin-left: 525px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -91px;
    margin-right: 631px;
    margin-left: 0;
  }

  .u-section-1 .u-list-2 {
    margin-top: 125px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-top: -7px;
    margin-right: 9px;
    margin-left: 435px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 451px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-3 {
    margin-top: 91px;
    margin-right: 0;
    margin-left: 244px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -90px;
    margin-right: 251px;
  }

  .u-section-1 .u-list-2 {
    margin-top: 93px;
    margin-right: initial;
    margin-left: initial;
  }
}